footer {
    background: url("../../images/footer-img.svg"), no-repeat;
    background-size: cover;
    padding-bottom: 70px;

    .footer {
        background: rgba(255, 255, 255, 0.40);
        backdrop-filter: blur(14px);
        padding: 26px 0 32px 0;

        .footer__box {
            display: flex;
            justify-content: space-between;
            gap: 65px;
            margin-bottom: 56px;


            &-text1 {
                color: #112718;
                text-align: left;
                font-size: 20px;
                font-weight: 600;
                line-height: 48px;
            }

            &-caption {
                color: #112718;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                letter-spacing: -0.28px;
                margin-top: 14px;
                text-align: left;
                width: 285px;

                &-aloqa {
                    width: 220px;
                }

                &-link {
                    width: 79px;
                    color: #112718;
                }

            }

        }

        .footer-box-bottom {
            display: flex;
            justify-content: space-between;

            &-icon {
                display: flex;
                gap: 14.96px;
                align-items: center;
            }
        }
    }
}