header {
    position: fixed;
    z-index: 9999;
    top: 80px;
    left: 0;
    width: 100%;

    .headerLink {
        cursor: pointer;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        nav>ul {
            display: flex;
            align-items: center;
            gap: 27px;
            height: 40px;
            border-radius: 10px;
            background: rgba(232, 240, 241, 0.60);
            backdrop-filter: blur(20.799999237060547px);
            padding: 3px;
            margin-left: 10px;
        }

        nav>ul>li {
            display: flex;
            align-items: center;
            padding: 11px 15px 11px 14px;
            border-radius: 10px;
            transition: 0.5s;
            height: 34px;

            &:hover {
                background: #59C154;

                a {
                    color: #fff;
                }
            }

            &:active {
                background: #59C154;

                a {
                    color: #fff;
                }
            }
        }

        nav>ul>li>a {
            color: #122719;
            font-weight: 600;
            line-height: 48px;

            &:hover {
                color: #fff;
            }

            &:active {
                color: #fff;
            }
        }


        &__lang {
            height: 40px;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            gap: 11px;
            border-radius: 10px;
            background: rgba(232, 240, 241, 0.60);
            backdrop-filter: blur(20.5px);

            p {
                color: #122719;
                font-size: 14px;
                font-weight: 600;
                line-height: 48px;
                letter-spacing: -0.28px;
            }
        }
    }
}